.idea
.idea/
app/**/*.js
app/**/*.js.map
app/**/*.d.ts
bundles
build
dist
node_modules
typings
npm-debug.log
*.iml
.bin/

/nbproject
.vscode
.history
/output.txt
atlassian-ide-plugin.xml
/.ng_pkg_build

src/**/*.js
