.idea
.idea/
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
bundles
build
dist
node_modules
typings
npm-debug.log
*.iml
.bin/

/nbproject
.vscode
.history
/output.txt
atlassian-ide-plugin.xml
/.ng_pkg_build

src/**/*.js
